@import url("../../App.css");

input {
  width: 100%;
  height: 35px;
  border-radius: var(--roundness);
  padding: 10px;
  box-sizing: border-box;
}

.setting-panel {
  border: 2px solid;
  border-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 10px;
}

.setting-element {
  place-self: center;
  text-align: center;
}

.setting-delete-button {
  background-color: red;
}

.setting-error {
  color: red;
  font-weight: bold;
}

.settings-page {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;
  overflow-y: auto;
  word-break: break-word;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row: 2;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

@media screen and (max-width: 1000px) {
  .settings-page {
    grid-column: 1 / span 3;
  }
}
