.profile-top-bar {
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  border-width: 2px;
  border-style: solid;
  font-size: 1rem;
  padding: 1em;

  z-index: 2;

  grid-row: 2;

  height: 25px;

  word-break: break-word;
  border-radius: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;

  grid-column: 1 / span 3;
  justify-self: center;
  width: 95%;

  grid-row: 1;
}

.profile-picture-button {
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: gray;
  justify-self: end;
  margin-left: auto;
  border-radius: 100%;
  border: 0px;
}

.profile-picture-div {
  position: relative;
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: gray;
  justify-self: end;
  margin-left: auto;
  border-radius: 100%;
  border: 0px;
}

.profile-picture {
  position: absolute;
  inset: 0;
  aspect-ratio: 1/1;
  border-radius: 100%;
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: gray;
}

.profile-panel-div {
  position: absolute;
  right: 0px;
  top: 100%;
  background-color: var(--bg-color);
  width: auto;
  height: auto;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  padding: 50px;
  box-shadow: 0px 0px 10px var(--secondary-color);
}

.profile-panel-username {
  font-weight: bold;
  font-size: 30px;
  white-space: nowrap;
  margin: 0;
}

.profile-panel-profile-picture {
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 3px dotted black;
  width: 150px;
  height: 150px;
  background-color: gray;
}
